extends layout

block content
table
    #{ categorise.forEach(function(item){ id ++ }
    tr
        td #{id}
        td #{= item.category_code}
        td #{= item.category_name}
        td #{= item.description}
        td #{= item.image}
        
